.container {
	display: flex;
	flex-direction: column;
	justify-content: center;

	width: fit-content;

	padding: 6rem;
}

.titleContainer {
	animation: 1.5s alternate 0s slidein;
}

@keyframes slidein {
	0% {
		transform: translateY(100%);
		opacity: 0%;
	}
	100% {
		transform: translateY(0);
		opacity: 100%;
	}
}

.title {
	text-align: end;
}

.regular {
	font-weight: 100;
}

.right-align {
	text-align: right;
}

.hobbies {
	width: auto;
	text-align: end;
}

.hobby {
	font-weight: 600;
}

.hobbyContainer {
	opacity: 0;
	animation: 1.5s alternate 2s slidein;
	animation-fill-mode: forwards;
	margin-bottom: 2rem;
}


.goal{
	opacity: 0;
	animation: 1.5s alternate 5s slidein;
	animation-fill-mode: forwards;

	text-align: center;
	font-size: 1.4rem;
	font-weight: 200;
}